.M2 {

    font-size: 1.3rem;
}

.botanica {
	font-family: 'Libre Baskerville', serif;
    font-size: 1.2rem;
    width: 1333px;
	height: 60px;
	display: flex;
    margin-right: 400px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    background-color: rgb(247, 214, 250);


}

.contenedor {

    display: flex;
	text-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 12px;
    font-family: 'Libre Baskerville', serif;
	font-size: 1.15rem; 
	padding: 8 px;
	justify-content: center;
    margin-right: 20px;
	list-style: none;
	width: 1309px;
    height: 35px;

}

.texto {
    text-align: center;
    background-color: transparent;
    padding-block: 20px;
    padding: 10px;
}

.contenedor2 {
	background-color: transparent;
    width: 970px;
	color: rgb(250, 250, 250);
	text-align: center;
	font-family: 'Libre Baskerville', serif;
    font-size: 1.12rem;
    margin-right: 0px;
    list-style: none;
}
 
.imagen2 {
	width: 1334px;
	height: 500px;
}


.enlaces{
    display: flex;
    list-style: none;
    flex-direction: row;
	font-family: 'Libre Baskerville', serif;
    font-size: 1.15rem;
    
}
.link {
    display: flex;
    text-decoration: none;
    list-style: none;
    color: inherit;
	font-family: 'Libre Baskerville', serif;
    font-size: 1.3rem;
	margin-right: 60px;
}

.container2 {
    width: 100%;
    display: flex;
    max-width: 1200px;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.25rem;
    padding: 25px;
}

.planta1 {
    width: 110%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #f3d6e3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FAFFD1, #f3d6e3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FAFFD1, #f3d6e3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0, 2);
    cursor: default;
    transition: all 400ms ease;
}

.planta1:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0, 4);
    transform: translateY(-3%);
}

.planta1 img {
    width: 110%;
    height: 200px;
}

.planta1 .contenido {
    padding: 15px;
    text-align: center;
}

.planta1 .contenido p {
    line-height: 1.5;
    color: #6a6a6a;
}

.planta1 .contenido h3 {
    font-weight: 200;
    margin-bottom: 15px;
}

.planta1 .contenido a{
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    color: #fca5ce;
    border: 1px solid  #fca5ce;
    border-radius: 4px;
    transition: all 400ms ease;
}

.planta1 .contenido a:hover {
    background: #fca5ce;
    color: black;
}

.titulo{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px; /* para distinguir en contenido de las sesiones*/
}

header{
    width: 100%;
    height: 600px;
    background: #be6a9d;  
    /* fallback for old browsers */
    background: linear-gradient(to right, #3b10537c, #ad538967), url(../img/Principales/Principal2.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3b105383, #ad538956), url(../img/Principales/Principal2.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header .textos-header{
    display: flex;
    height: 430px;
    width:100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 40px;
    color:#fff;
}

.textos-header h2{
    font-size: 40px;
    font-weight: 300;
    color:#fff;

}


